* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

img{
    max-width: 199px;
}
h1{
    padding: 1rem 0rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alert{
    max-width: 400px;
    margin: auto;
}